@using QuizApp_Utility
@model QuizApp_Model.Exam
@{
    ViewData["Title"] = "Edit Exam";
}

<div class="row my-3">
    <div class="card col-md-8">
        <div class="card-body">
            <h4>Exam Details</h4>
            <hr />
            <form asp-action="update-exam" method="post" enctype="multipart/form-data">
              <input type="hidden" asp-for="Id" />
              <div class="form-group">
                <label asp-for="Name"></label>
                <input class="form-control" asp-for="Name">
                <span asp-validation-for="Name"></span>
              </div>
              <div class="form-group">
                <label asp-for="ShortDescription"></label>
                <input class="form-control" asp-for="ShortDescription">
                <span asp-validation-for="ShortDescription"></span>
              </div>
              <div class="form-group">
                <label asp-for="Description"></label>
                <textarea class="form-control" asp-for="Description"></textarea>
                <span asp-validation-for="Description"></span>
              </div>
              <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroupFileAddon01">Upload</span>
                  </div>
                  <div class="custom-file">
                    <input type="file" name="files" class="custom-file-input" id="file">
                    <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                  </div>
              </div>

              <button type="submit" class="btn btn-primary">Edit</button>
              <button type="submit" formaction="/Manage/delete-exam" formmethod="post" class="btn btn-danger">Delete</button>
            </form>
        </div>
    </div>
    <div class="col-md-4 text-center">
        <div>
            <img src="@WC.ImageExamPath@Model.Image" width="100%" height="200"/>
        </div>
        <a class="btn btn-info btn-block mt-3" asp-action="Questions" asp-route-id="@Model.Id">Show Questions</a>
    </div>
</div>

@section Scripts{
    <partial name="_ValidationScriptsPartial"></partial>
}